/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.valid-btn {
    height: 36px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffb800;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1.25px;
    text-align: center;
    color: #ffffff;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    border-style: none;
    cursor: pointer;
  }
  
  .valid-btn:disabled {
    opacity: 0.6;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .m-1 {
    margin: 0.25rem !important;
  }
  
  .mt-1 {
    margin-top: 0.25rem !important;
  }
  
  .mr-1 {
    margin-right: 0.25rem !important;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem !important;
  }
  
  .ml-1 {
    margin-left: 0.25rem !important;
  }
  
  .m-2 {
    margin: 0.5rem !important;
  }
  
  .mt-2 {
    margin-top: 0.5rem !important;
  }
  
  .mr-2 {
    margin-right: 0.5rem !important;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem !important;
  }
  
  .ml-2 {
    margin-left: 0.5rem !important;
  }
  
  .m-a {
    margin: auto !important;
  }
  